<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ./commons/header %>
  <title>Lazy Laundry</title>
<h1> <p style="font-family:courier;">About Us</p>
</head>
  <body class="homebody">
    <h2> <p style="font-family:courier;">Our story</p>
    <h3> In 2018, in the city by the bay... </h3>
    <h4>Lazy laundry started serving lazy San Friscans who just couldnt be bothered to do their laundry.
      Our mission is to be the mom's and dad's that every person wish they had.
      <p>
  </body>
</html>
