<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ./commons/header %>
  <title>Lazy Laundry</title>
   <!-- <p>About Us</p> -->
</head>
  <body class="aboutusbody">
    <h2>Our story</h2>
    <h3> In 2018, in the city by the bay... </h3>
    <h4>Lazy laundry started serving lazy San Franciscans who just couldn't be bothered to do their laundry.</h4>
      <h4>Our mission is to be the mom's and dad's that every person wish they had.</h4>
        <img src="https://media.giphy.com/media/JgIR3cfGEdby0/giphy.gif" width="600" height="500">
        
  </body>
</html>
