<link rel="stylesheet" href="stylesheet.css">
<div>
  <nav>
  <h1>Lazy Laundry</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/aboutUs">About Us</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/pricing">Pricing</a></li>
    </ul>
  </nav>
</div>
