<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="homebody">
    <p>Ready to feel great in your clothes?<br> Pickup and delivery of your laundry!</p>

    <!-- <a href="/login">Login to your Lazy Laundry account now!</a> -->

    <p>Lazy Laundry does the hard work for you!</p>
    <div class="intro">
      <h1>PICK UP</h1>
    <p>Tell us when you're feeling lazy, and we'll do your laundry!<br> Your Valet will always arrive between 8pm and 10pm</p> <img src="https://gotrackapp.com/assets/img/laundry-delivery.gif">
    </div>
    <div>
    <h1>CLEAN</h1>
    <p>Our experts clean your clothes according to their care label<br> and the Lazy Laundry service you ordered</p>
    <img src="https://cdn.dribbble.com/users/1912446/screenshots/4661122/clothing.gif">
    <!-- <img src="https://media1.popsugar-assets.com/files/thumbor/GCZ39j-o4OX2R6atWk-cJyMjzLk/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/09/11/034/n/1922441/tmp_2f5RYH_792b9e4ba055e87e_IMG_8903.GIF"> -->
    </div>
    <div>
      <h1>DELIVER</h1>
      <p>We return your clothes within 3 days.<br> Choose rush service for next-day delivery of Wash & Fold.</p> <img src="https://media.giphy.com/media/UwpiDY4LX3XCE/giphy.gif">
      <p>We are the Mom you always wish you had!</p>
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/diy-closet-organizers-1536263214.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*">
  </body>
</html>
