<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="homebody">
    <h1>Location</h1>
      <p>Here are our locations in San Francisco where you can drop off your laundry!</p>
      <p>Please click on our nearest location to you!</p>

      <img src="https://community.jaspersoft.com/doc_images/1057162/jss-google-maps-markers-result.png" alt="our locations" width="640" height="400">
  </body>
</html>
