<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="homebody">
    <h1 class="location">Location</h1>
      <h4>Here are our locations in San Francisco where you can drop off your laundry!</h4>
      <h5>Please click on our nearest location to you!</h5>

      <!-- <img src="https://community.jaspersoft.com/doc_images/1057162/jss-google-maps-markers-result.png" alt="our locations" width="640" height="400"> -->
      <img src="https://hoodwork-production.s3.amazonaws.com/uploads/story/image/21765/Image_23_Downing_Farmers.jpg" alt="our locations" width="850" height="650">
      <h6>After you find out our closest location to you, click <a href="https://www.google.com/maps/@37.7806486,-122.4072051,15z">here</a> for directions.</h6>
  </body>
</html>
