<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="homebody">
    <img id="loginpic" src="https://cdn.dribbble.com/users/645368/screenshots/1957171/login.gif">
  </body>
</html>
