<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="homebody">

  </body>
</html>
