<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./commons/header %>
    <title>Lazy Laundry</title>
  </head>
  <body class="pricingbody">
    <div class="pricing">
      <h1>Pricing</h1>
      <h2>Washing and Folding $2.00</h2>
      <img class="top"src="https://media1.tenor.com/images/f4af3ffe86569c9bc8d4944c8fc97ba7/tenor.gif?itemid=6079425" wdith="400" height="400">
      <h3 id="5lbs">5lbs mimimum </h3>
      <h3>Delivery Fee $5.00</h3>
      <h3>Dry Cleaning $2.00</h3>
    </div>
    <br />
    <div class="tops">
      <h3>Tops $7.00</h3>
        <ul class="bullet">
        <img class="top" src="http://www.clker.com/cliparts/p/h/l/Y/m/E/t-shirt-template-blue.svg" width="500" height="500">
        <br />
        <li>Shirts |</li>
        <li>Button ups</li>
        <li>| Blazers</li>
        </ul>
    </div>
    </br>
    <div class="">
      <h3>Heavy tops $9.00</h3>
      <img class="top" src="https://i.pinimg.com/originals/4f/4f/e6/4f4fe6e6626e7b5b5014c6abffd3c0bc.png" width="550" height="500">
        <br />
        <br />
      <li>Sweaters |</li>
      <li>Jackets</li>
      <li>| Coats</li>
    </div>
    <br />
    <br />
<h3>Bottoms $8.00</h3>
    <img class="top" src="https://images.vexels.com/media/users/3/129477/isolated/preview/f0365c00fd3f3353d401b341f7967afb-blue-mens-pant-cartoon-by-vexels.png" width="500" height="500">
      <br />
    <li>Pants |</li>
    <li>Skirts</li>
    <li>| Dresses</li>
    <br />
  </body>
  </html>
