li {
  display: inline;
  padding: 10px;
}

p {
  padding-left: 18px;
}

h1 {
  padding-left: 18px;
}

h2 {
  padding-left: 18px;
}
.homebody {
  background-color: #FFF0F5;
  text-align: center;
}

navbar-nav {
  color: purple;
}

.firstPart {
  font-size: 40px;
  font-style: italic;
}

.intro {
  font-size: 25px;
}

.cleaning {
  font-size: 25px;
}

.delivery {
  font-size: 25px;
}

.mommy {
  font-size: 40px;
  font-style: oblique; 
}
